<!DOCTYPE html>
<html lang="en">
<head>
<title>Biography</title>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/Stylesheet.css">
<link rel="icon" href="../static/images/jamies-music-high-resolution-logo-black-transparent.png">
</head>

<body>
    
    <div class="maincontainer">
    <div class="navbar">
        <img class="logoimg" src="../../static/images/jamies-music-high-resolution-logo-black-transparent.png" alt="Logo">
        <a href={{ url_for("index")}}>Home</a>
        <a href={{ url_for("biography")}} class="active">Biography</a>
        <a href={{ url_for("lavein")}}>LaVein</a>
        <a href={{ url_for("garsenda")}}>Garsenda</a>
        <a href={{ url_for("convulsion")}}>Convulsion</a>
        <a href={{ url_for("listen")}}>Listening Corner</a>
        <a href={{ url_for("gallery")}}>Gallery</a>
        <a href={{ url_for("contact")}}>Contact</a>
    </div>
    <Div class="main">
        <h1>Biography</h1>
        <h2>A little insight into me and my history with music!</h2>
        <p>I first started playing guitar when I was 7 years old, starting out with classical and focusing mainly on spanish flamenco. When I turned 11, I discovered rock and metal music, which ultiamtely lead to me getting my first electric guitar for my birthday that year.
            Since then, I have primarily played electric guitar as my first choice of instrument. I spent the first few years of owning an electric trying to improve and learn the different techniques used in heavier music. When I was 15 I started my first band, "Shadows of the Sun".
            Whilst we never went on to play any shows or release any material, I very much enjoyed the writing aspect and playing music with friends. I then went on to join an Arctic Monkeys cover band in my late teens where we played a few shows, before taking a break from music for almost 5 years.
            When lockdown hit and I was suddenly hit with lots of spare time, my desire and urge to write music returned, and since then I have been very busy working on music. My main 3 projects the last 4 years have been LaVein, Convulsion and Garsenda, and a couple of other smaller projects that are still being worked on. 
            I have managed to release multiple EPs and singles in this time, shared the stage with some of my idols, and played shows across the UK and Ireland. </p>
            <img class="bodyimg" src="../../static/images/BS.jpg">
    </div>    
    </div>
</body>