<!DOCTYPE html>
<html lang="en">
<head>
<title>Garsenda</title>
<meta charset="utf-8">
<link rel="stylesheet" href= "static/css/Stylesheet.css">
<link rel="icon" href="../static/images/jamies-music-high-resolution-logo-black-transparent.png">
</head>

<body>
    
    <div class="maincontainer">
    <div class="navbar">
        <img class="logoimg" src="../../static/images/jamies-music-high-resolution-logo-black-transparent.png" alt="Logo">
        <a href={{ url_for("index")}}>Home</a>
        <a href={{ url_for("biography")}} >Biography</a>
        <a href={{ url_for("lavein")}}>LaVein</a>
        <a href={{ url_for("garsenda")}} class="active">Garsenda</a>
        <a href={{ url_for("convulsion")}}>Convulsion</a>
        <a href={{ url_for("listen")}}>Listening Corner</a>
        <a href={{ url_for("gallery")}}>Gallery</a>
        <a href={{ url_for("contact")}}>Contact</a>
    </div>
    <Div class="main">
        <H1>Garsenda</H1>
        <h2>Electronic Post-Hardcore based out of Dublin, Ireland</h2>
        <p>Garsenda formed when Jamie and Liz Nolan met at auditions for another band. The Post-Hardcore band drew influences from the likes of Bring Me The Horizon, Don Broco, The Plot In You and Poppy. The songs were written mostly during lockdown, with Jamie and Liz meeting weekly over zoom to co-write music, and ultimately shape the project that would be Garsenda. After lockdown, Liz and Jamie recruited Lachlan Hill and Conor Molloy on drums and bass to fill out the line up and prepare for live shows. Whilst the band never ended up performing live, the did record 3 singles with JSR Audio in Belfast. These 3 singles were all released in 2022 as standalone songs. Together they form a triology, and the 3 songs Cosmos, Jaded and Desaturated can be found on all major streaming platforms.</p>
        <img class="bodyimg" src="../../static/images/desaturated.jpg">
    </div>    
    </div>
</body>