<!DOCTYPE html>
<html lang="en">
<head>
<title>LaVein</title>
<meta charset="utf-8">
<link rel="stylesheet" href= "static/css/Stylesheet.css">
<link rel="icon" href="../static/images/jamies-music-high-resolution-logo-black-transparent.png">
</head>

<body>
    
    <div class="maincontainer">
    <div class="navbar">
        <img class="logoimg" src="../../static/images/jamies-music-high-resolution-logo-black-transparent.png" alt="Logo">
        <a href={{ url_for("index")}}>Home</a>
        <a href={{ url_for("biography")}} >Biography</a>
        <a href={{ url_for("lavein")}} class="active">LaVein</a>
        <a href={{ url_for("garsenda")}}>Garsenda</a>
        <a href={{ url_for("convulsion")}}>Convulsion</a>
        <a href={{ url_for("listen")}}>Listening Corner</a>
        <a href={{ url_for("gallery")}}>Gallery</a>
        <a href={{ url_for("contact")}}>Contact</a>
    </div>
    <Div class="main">
        <h1>LaVein</h1>
        <h2>Metallic Hardcore based out of Dublin, Ireland</h2>
        <p>LaVein are a Metallic Hardcore band from Dublin Ireland. Born in January 2023, LaVein was formed after 3 members of Garsenda (Jamie, Conor and Lachlan) had a desire to create a project with more aggression and heavier than what they were previously working on. The band quickly recruited Peter Cooney and Rossa Molloy and started work on their debut EP "Fine Failure". Within months of forming, the band would go on to win Metal 2 the Masses Ireland, and be given a chance to play one of the largest metal festivals in the UK Bloodstock, alongside the likes of Megadeth, Killswitch Engage and Mesuggah. Since then, the band has released their Debut EP "Fine Failure", released a music video, toured Ireland and the UK alongside bands such as Chelsea Grin, Kublai Khan and Burner and is gearing up for an even bigger 2024 with their second EP on the horizon.</p>
        <img class="bodyimg" src="../../static/images/371847719_234233082939137_5085288734650035216_n.jpg"
    </div>    
    </div>
</body>